# 
#### Data type conversions
* DR_NO field was converted from integer data type to sting data type, and was used as the primary key.
* Date and time feilds were converted to the DateTime and tim

In [1]:
# Importing required libraries for data manipulation and data Visualization
import pandas as pd 
import os
import time
import datetime as dt
from datetime import datetime

In [2]:
# Reading Crime Dataset into memory
crime_dt = pd.read_csv('C:\\Python_Files\\Crime_data\\Crime_Data_from_2020_to_Present.csv')

# Printing the first 5 records in the dataset
print("\n\nLAPD crime dataframe first five rows")
print("===============================================================================")
print(crime_dt.head(5))

LAPD crime dataframe first five rows
===============================================================================
       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  190326475  03/01/2020 12:00:00 AM  03/01/2020 12:00:00 AM      2130     7
1  200106753  02/09/2020 12:00:00 AM  02/08/2020 12:00:00 AM      1800     1
2  200320258  11/11/2020 12:00:00 AM  11/04/2020 12:00:00 AM      1700     3
3  200907217  05/10/2023 12:00:00 AM  03/10/2020 12:00:00 AM      2037     9
4  200412582  09/09/2020 12:00:00 AM  09/09/2020 12:00:00 AM       630     4

    AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0    Wilshire          784         1     510
1     Central          182         1     330
2   Southwest          356         1     480
3    Van Nuys          964         1     343
4  Hollenbeck          413         1     510

                                Crm Cd Desc  ... Status   Status Desc  \
0                          VEHICLE - STOLEN  ...     AA  Adult Arrest
1                     BURGLARY FROM VEHICLE  ...     IC   Invest Cont
2                             BIKE - STOLEN  ...     IC   Invest Cont
3  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)  ...     IC   Invest Cont
4                          VEHICLE - STOLEN  ...     IC   Invest Cont

  Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0    510.0    998.0       NaN      NaN
1    330.0    998.0       NaN      NaN
2    480.0      NaN       NaN      NaN
3    343.0      NaN       NaN      NaN
4    510.0      NaN       NaN      NaN

                                   LOCATION Cross Street      LAT       LON
0   1900 S  LONGWOOD                     AV          NaN  34.0375 -118.3506
1   1000 S  FLOWER                       ST          NaN  34.0444 -118.2628
2   1400 W  37TH                         ST          NaN  34.0210 -118.3002
3  14000    RIVERSIDE                    DR          NaN  34.1576 -118.4387
4                          200 E  AVENUE 28          NaN  34.0820 -118.2130

[5 rows x 28 columns]

In [3]:
# Printing the last 5 records in the dataset
print("\n\nLAPD crime dataframe last five rows")
print("===============================================================================")
print(crime_dt.tail(5))

LAPD crime dataframe last five rows
===============================================================================
             DR_NO               Date Rptd                DATE OCC  TIME OCC  \
1005099  250304184  02/18/2025 12:00:00 AM  02/14/2025 12:00:00 AM      1200
1005100  252104053  01/19/2025 12:00:00 AM  01/17/2025 12:00:00 AM      1530
1005101  250304214  02/23/2025 12:00:00 AM  02/21/2025 12:00:00 AM      1530
1005102  250304203  02/20/2025 12:00:00 AM  02/13/2025 12:00:00 AM      2100
1005103  250504051  01/14/2025 12:00:00 AM  01/14/2025 12:00:00 AM      1250

         AREA  AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
1005099     3  Southwest          328         1     510
1005100    21    Topanga         2114         1     341
1005101     3  Southwest          358         1     510
1005102     3  Southwest          325         1     522
1005103     5     Harbor          509         1     210

                                               Crm Cd Desc  ... Status  \
1005099                                   VEHICLE - STOLEN  ...     IC
1005100  THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...  ...     IC
1005101                                   VEHICLE - STOLEN  ...     IC
1005102  VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, B...  ...     IC
1005103                                            ROBBERY  ...     IC

         Status Desc Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
1005099  Invest Cont    510.0      NaN       NaN      NaN
1005100  Invest Cont    341.0      NaN       NaN      NaN
1005101  Invest Cont    510.0      NaN       NaN      NaN
1005102  Invest Cont    522.0      NaN       NaN      NaN
1005103  Invest Cont    210.0      NaN       NaN      NaN

                                         LOCATION Cross Street      LAT  \
1005099    700 W  28TH                         ST          NaN  34.0270
1005100  22200    ELKWOOD                      ST          NaN  34.2128
1005101   3600    MCCLINTOCK                   AV          NaN  34.0212
1005102   2600    ELLENDALE                    PL          NaN  34.0307
1005103  24300    WESTERN                      AV          NaN  33.8046

              LON
1005099 -118.2794
1005100 -118.6103
1005101 -118.2895
1005102 -118.2923
1005103 -118.3074

[5 rows x 28 columns]

In [4]:
# Printing a summary of the dataset using the info method
crime_dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005104 entries, 0 to 1005103
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1005104 non-null  int64
 1   Date Rptd       1005104 non-null  object
 2   DATE OCC        1005104 non-null  object
 3   TIME OCC        1005104 non-null  int64
 4   AREA            1005104 non-null  int64
 5   AREA NAME       1005104 non-null  object
 6   Rpt Dist No     1005104 non-null  int64
 7   Part 1-2        1005104 non-null  int64
 8   Crm Cd          1005104 non-null  int64
 9   Crm Cd Desc     1005104 non-null  object
 10  Mocodes         853380 non-null   object
 11  Vict Age        1005104 non-null  int64
 12  Vict Sex        860353 non-null   object
 13  Vict Descent    860341 non-null   object
 14  Premis Cd       1005088 non-null  float64
 15  Premis Desc     1004516 non-null  object
 16  Weapon Used Cd  327244 non-null   float64
 17  Weapon Desc     327244 non-null   object
 18  Status          1005103 non-null  object
 19  Status Desc     1005104 non-null  object
 20  Crm Cd 1        1005093 non-null  float64
 21  Crm Cd 2        69146 non-null    float64
 22  Crm Cd 3        2315 non-null     float64
 23  Crm Cd 4        64 non-null       float64
 24  LOCATION        1005104 non-null  object
 25  Cross Street    154237 non-null   object
 26  LAT             1005104 non-null  float64
 27  LON             1005104 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 214.7+ MB

In [5]:
# Displaying a sum of the null values in each column of the dataset.
crime_dt.isnull().sum()

DR_NO                   0
Date Rptd               0
DATE OCC                0
TIME OCC                0
AREA                    0
AREA NAME               0
Rpt Dist No             0
Part 1-2                0
Crm Cd                  0
Crm Cd Desc             0
Mocodes            151724
Vict Age                0
Vict Sex           144751
Vict Descent       144763
Premis Cd              16
Premis Desc           588
Weapon Used Cd     677860
Weapon Desc        677860
Status                  1
Status Desc             0
Crm Cd 1               11
Crm Cd 2           935958
Crm Cd 3          1002789
Crm Cd 4          1005040
LOCATION                0
Cross Street       850867
LAT                     0
LON                     0
dtype: int64

## Dropping fields and records

###### Dropping fields in the dataset due to the high propotion of missing values. The fields to be droped include:
* Crm Cd1
* Crm Cd2
* Crm Cd3
* Crm Cd4 
* Cross Street
* Mo codes
* Weapon Used Cd
* Weapon Desc

In [6]:
# Dropping the Crm Cd1, Crm Cd2, Crm Cd3, Crm Cd4 fields.
crime_dt.drop(["Crm Cd 1", "Crm Cd 2", "Crm Cd 3", "Crm Cd 4"], axis = 1, inplace = True)

# Dropping the Cross Street, Mocodes, Weapon Used Cd, Weapon Desc Fields
crime_dt.drop(["Cross Street", "Mocodes", "Weapon Used Cd", "Weapon Desc"], axis = 1, inplace = True)
crime_dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005104 entries, 0 to 1005103
Data columns (total 20 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   DR_NO         1005104 non-null  int64
 1   Date Rptd     1005104 non-null  object
 2   DATE OCC      1005104 non-null  object
 3   TIME OCC      1005104 non-null  int64
 4   AREA          1005104 non-null  int64
 5   AREA NAME     1005104 non-null  object
 6   Rpt Dist No   1005104 non-null  int64
 7   Part 1-2      1005104 non-null  int64
 8   Crm Cd        1005104 non-null  int64
 9   Crm Cd Desc   1005104 non-null  object
 10  Vict Age      1005104 non-null  int64
 11  Vict Sex      860353 non-null   object
 12  Vict Descent  860341 non-null   object
 13  Premis Cd     1005088 non-null  float64
 14  Premis Desc   1004516 non-null  object
 15  Status        1005103 non-null  object
 16  Status Desc   1005104 non-null  object
 17  LOCATION      1005104 non-null  object
 18  LAT           1005104 non-null  float64
 19  LON           1005104 non-null  float64
dtypes: float64(3), int64(7), object(10)
memory usage: 153.4+ MB

In [7]:
# Dropping rows with missing values
crime_dt.dropna(inplace = True)

# Reseting index
crime_dt.reset_index(inplace = True, drop = True)

crime_dt.shape

(859764, 20)

In [8]:
# Renaming columns to the appropriate naming convention 
rename_map = {"DR_NO":"DIV_REC_NO", "Date Rptd":"Date_Rptd", "DATE OCC":"DATE_OCC", "TIME OCC":"TIME_OCC", "AREA":"AREA_Cd", "AREA NAME":"AREA_NAME", "Rpt Dist No":"Rpt_Dist_No", "Part 1-2":"Part_1-2",
                "Crm Cd":"Crm_Cd", "Crm Cd Desc":"Crm_Cd_Desc", "Vict Age":"Vict_Age", "Vict Sex":"Vict_Sex", "Vict Descent":"Vict_Descent", "Premis Cd":"Premis_Cd",
                "Premis Desc":"Premis_Desc", "Status":"Status_Cd","Status Desc":"Status_Desc"}
    
crime_dt = crime_dt.rename(columns=rename_map)

crime_dt.columns

Index(['DIV_REC_NO', 'Date_Rptd', 'DATE_OCC', 'TIME_OCC', 'AREA_Cd',
       'AREA_NAME', 'Rpt_Dist_No', 'Part_1-2', 'Crm_Cd', 'Crm_Cd_Desc',
       'Vict_Age', 'Vict_Sex', 'Vict_Descent', 'Premis_Cd', 'Premis_Desc',
       'Status_Cd', 'Status_Desc', 'LOCATION', 'LAT', 'LON'],
      dtype='object')

### Column merging and data type conversion

In [9]:
%%time

# Slicing the DATE_OCC column.
crime_dt["DATE_OCC"] = [str(row["DATE_OCC"])[:10] for _, row in crime_dt.iterrows()]

Wall time: 29.3 s

In [10]:
%%time

# Slicing the TIME_OCC column into the rigth format
crime_dt["TIME_OCC"] = [(str(row["TIME_OCC"])[:2] + ":" + str(row["TIME_OCC"])[2:]) for _, row in crime_dt.iterrows()]

Wall time: 34.6 s

In [11]:
%%time

# Dropping rows where the TIME_OCC record do not comform to the time format
crime_dt = crime_dt.drop(crime_dt[crime_dt["TIME_OCC"].astype(str).str.len() < 5].index)
crime_dt.reset_index(inplace = True, drop = True)

Wall time: 586 ms

In [12]:
# Merging TIME_OCC & DATE_OCC columns
crime_dt["TIMESTAMP"] = crime_dt["DATE_OCC"].astype(str)+" "+crime_dt["TIME_OCC"].astype(str)

In [17]:
%%time

# Defining functions to convert DIV_REC_NO, Premis_Cd, Date_Rptd, TIMESTAMP to the appropriate format. 
def conv_dt_typ(clmn, d_typ):
    crime_dt[clmn] = crime_dt[clmn].astype(d_typ)

conv_dt_typ("DIV_REC_NO", str)
conv_dt_typ("Premis_Cd", int)
conv_dt_typ("Date_Rptd", str)


def conv_datetime(clmn):
    if clmn == "Date_Rptd":
        crime_dt[clmn] = pd.to_datetime(crime_dt[clmn]).dt.date
    elif clmn == "TIMESTAMP":
        crime_dt[clmn] = pd.to_datetime(crime_dt[clmn])
    
conv_datetime("Date_Rptd")
conv_datetime("TIMESTAMP")

# Dropping columns
crime_dt.drop(columns = ["TIME_OCC", "DATE_OCC"], inplace = True)

# Re-odering the columns to reflect changes
new_order = ['DIV_REC_NO', 'TIMESTAMP', 'Date_Rptd', 'AREA_Cd', 'AREA_NAME',
       'Rpt_Dist_No', 'Part_1-2', 'Crm_Cd', 'Crm_Cd_Desc', 'Vict_Age',
       'Vict_Sex', 'Vict_Descent', 'Premis_Cd', 'Premis_Desc', 'Status_Cd',
       'Status_Desc', 'LOCATION', 'LAT', 'LON'] 
crime_dt = crime_dt.reindex(columns = new_order)

Wall time: 46.4 s

In [18]:
crime_dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 618733 entries, 0 to 618732
Data columns (total 19 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DIV_REC_NO    618733 non-null  object
 1   TIMESTAMP     618733 non-null  datetime64[ns]
 2   Date_Rptd     618733 non-null  object
 3   AREA_Cd       618733 non-null  int64
 4   AREA_NAME     618733 non-null  object
 5   Rpt_Dist_No   618733 non-null  int64
 6   Part_1-2      618733 non-null  int64
 7   Crm_Cd        618733 non-null  int64
 8   Crm_Cd_Desc   618733 non-null  object
 9   Vict_Age      618733 non-null  int64
 10  Vict_Sex      618733 non-null  object
 11  Vict_Descent  618733 non-null  object
 12  Premis_Cd     618733 non-null  int32
 13  Premis_Desc   618733 non-null  object
 14  Status_Cd     618733 non-null  object
 15  Status_Desc   618733 non-null  object
 16  LOCATION      618733 non-null  object
 17  LAT           618733 non-null  float64
 18  LON           618733 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(1), int64(5), object(10)
memory usage: 87.3+ MB

In [19]:
print("\n\n Sample Data:")
print("=========================================================================\n")
print(crime_dt.head(20))

 Sample Data:
=========================================================================

   DIV_REC_NO           TIMESTAMP   Date_Rptd  AREA_Cd    AREA_NAME  \
0   190326475 2020-03-01 21:30:00  2020-03-01        7     Wilshire
1   200106753 2020-02-08 18:00:00  2020-02-09        1      Central
2   200320258 2020-11-04 17:00:00  2020-11-11        3    Southwest
3   200907217 2020-03-10 20:37:00  2023-05-10        9     Van Nuys
4   200200759 2020-07-07 13:40:00  2020-07-07        2      Rampart
5   200406391 2020-03-01 14:30:00  2020-03-02        4   Hollenbeck
6   200606074 2020-02-07 16:15:00  2020-02-12        6    Hollywood
7   201110303 2020-06-08 20:00:00  2020-06-11       11    Northeast
8   201000767 2020-07-13 20:00:00  2020-07-14       10  West Valley
9   200906009 2020-02-13 22:30:00  2020-02-14        9     Van Nuys
10  200504009 2020-01-01 21:00:00  2020-01-01        5       Harbor
11  201106871 2020-03-02 21:30:00  2020-03-04       11    Northeast
12  200111627 2020-05-10 22:00:00  2020-05-12        1      Central
13  201225656 2020-12-02 22:45:00  2020-12-02       12  77th Street
14  200309451 2020-04-04 12:10:00  2020-04-04        3    Southwest
15  200211094 2020-06-06 12:00:00  2020-06-08        2      Rampart
16  201212036 2020-05-01 23:30:00  2020-05-02       12  77th Street
17  200914517 2020-09-09 17:35:00  2020-09-10        9     Van Nuys
18  201106067 2020-02-15 18:30:00  2020-02-15       11    Northeast
19  201116118 2020-11-23 12:00:00  2020-11-27       11    Northeast

    Rpt_Dist_No  Part_1-2  Crm_Cd  \
0           784         1     510
1           182         1     330
2           356         1     480
3           964         1     343
4           265         1     648
5           407         1     310
6           646         2     805
7          1118         1     310
8          1043         1     330
9           914         2     806
10          526         2     946
11         1107         2     745
12          111         2     626
13         1268         1     210
14          361         1     310
15          237         1     341
16         1268         1     230
17          909         2     354
18         1101         1     330
19         1141         2     354

                                          Crm_Cd_Desc  Vict_Age Vict_Sex  \
0                                    VEHICLE - STOLEN         0        M
1                               BURGLARY FROM VEHICLE        47        M
2                                       BIKE - STOLEN        19        X
3            SHOPLIFTING-GRAND THEFT ($950.01 & OVER)        19        M
4                                               ARSON         0        X
5                                            BURGLARY        27        M
6                                             PIMPING        23        F
7                                            BURGLARY         0        M
8                               BURGLARY FROM VEHICLE        41        M
9                                           PANDERING         0        F
10                          OTHER MISCELLANEOUS CRIME         0        X
11           VANDALISM - MISDEAMEANOR ($399 OR UNDER)        50        M
12                  INTIMATE PARTNER - SIMPLE ASSAULT        30        F
13                                            ROBBERY        21        M
14                                           BURGLARY        19        X
15  THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...         0        X
16     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT        28        F
17                                  THEFT OF IDENTITY        40        M
18                              BURGLARY FROM VEHICLE        43        M
19                                  THEFT OF IDENTITY        26        M

   Vict_Descent  Premis_Cd                                   Premis_Desc  \
0             O        101                                        STREET
1             O        128             BUS STOP/LAYOVER (ALSO QUERY 124)
2             X        502  MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)
3             O        405                                CLOTHING STORE
4             X        101                                        STREET
5             W        221                                PUBLIC STORAGE
6             H        101                                        STREET
7             O        203                                OTHER BUSINESS
8             W        108                                   PARKING LOT
9             X        101                                        STREET
10            X        101                                        STREET
11            H        101                                        STREET
12            W        502  MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)
13            H        101                                        STREET
14            X        301                                   GAS STATION
15            X        247                                      CAR WASH
16            B        501                        SINGLE FAMILY DWELLING
17            O        507                         CONDOMINIUM/TOWNHOUSE
18            A        108                                   PARKING LOT
19            W        501                        SINGLE FAMILY DWELLING

   Status_Cd   Status_Desc                                  LOCATION      LAT  \
0         AA  Adult Arrest   1900 S  LONGWOOD                     AV  34.0375
1         IC   Invest Cont   1000 S  FLOWER                       ST  34.0444
2         IC   Invest Cont   1400 W  37TH                         ST  34.0210
3         IC   Invest Cont  14000    RIVERSIDE                    DR  34.1576
4         IC   Invest Cont                              JAMES M WOOD  34.0536
5         IC   Invest Cont                     4500    HUNTINGTON DR  34.0881
6         AA  Adult Arrest                                 HOLLYWOOD  34.1016
7         IC   Invest Cont                          100    AVENUE 56  34.1089
8         AA  Adult Arrest  18600    HATTERAS                     ST  34.1774
9         AO   Adult Other                                 SEPULVEDA  34.1958
10        AA  Adult Arrest                                         G  33.7783
11        IC   Invest Cont   6100    DELPHI                       ST  34.1241
12        AA  Adult Arrest    700 N  HILL                         PL  34.0618
13        IC   Invest Cont                                 SAN PEDRO  33.9610
14        IC   Invest Cont   3700 S  LA BREA                      AV  34.0199
15        IC   Invest Cont   1600 W  TEMPLE                       ST  34.0682
16        IC   Invest Cont    100 E  82ND                         ST  33.9654
17        IC   Invest Cont  13600    LEADWELL                     ST  34.2039
18        IC   Invest Cont   2700 N  VERMONT                      AV  34.1179
19        IC   Invest Cont   2000 N  VERMONT                      AV  34.1095

         LON
0  -118.3506
1  -118.2628
2  -118.3002
3  -118.4387
4  -118.2788
5  -118.1877
6  -118.3370
7  -118.1942
8  -118.5387
9  -118.4662
10 -118.2662
11 -118.1878
12 -118.2424
13 -118.2695
14 -118.3556
15 -118.2609
16 -118.2739
17 -118.4312
18 -118.2930
19 -118.2958

In [20]:
# Writing dataset to csv
crime_dt.to_csv("C:\\Python_Files\\Crime_data\\CLEAN_CRM_DATA.csv", index = False)